nodered/flows.json
[{"id":"62419c41659dce83","type":"mqtt out","z":"5b0bd96f6c358899","name":"Out to mqtt","topic":"","qos":"1","retain":"false","respTopic":"res/matest","contentType":"","userProps":"","correl":"","expiry":"","broker":"","x":2070,"y":340,"wires":[]},{"id":"15e504b5b57decc4","type":"complete","z":"5b0bd96f6c358899","name":"","scope":["62419c41659dce83"],"uncaught":false,"x":790,"y":400,"wires":[["2cf55ea9160e70be","1926a73823930287"]]},{"id":"2cf55ea9160e70be","type":"debug","z":"5b0bd96f6c358899","name":"debug 143","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":990,"y":400,"wires":[]},{"id":"25ebb73f5d9cf635","type":"delay","z":"5b0bd96f6c358899","name":"","pauseType":"delayv","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1180,"y":440,"wires":[["e1c2ea989fc09206"]]},{"id":"1926a73823930287","type":"function","z":"5b0bd96f6c358899","name":"Prepare Data","func":"let delay = flow.get('mqtt_timeout_ms');\nif(delay != null){\n    msg.delay = delay;\n}\nlet pending = flow.get('messages_pending');\nif(pending != null){\n    if (pending.includes(msg._msgid)){\n        pending = pending.filter(id => id !== msg._msgid);\n        flow.set('messages_pending', pending);\n        return;\n    }else{\n        pending.push(msg._msgid);\n        flow.set('messages_pending', pending);\n        return msg;\n    }\n}\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1010,"y":440,"wires":[["25ebb73f5d9cf635","29a3aa16011f72ce"]]},{"id":"e1c2ea989fc09206","type":"function","z":"5b0bd96f6c358899","name":"If Message is still pending send to backlog","func":"let beFrom = msg.beFrom || false;\nlet filename = flow.get(\"log\");\nlet pending = flow.get('messages_pending');\nif(pending.includes(msg._msgid)){\n    if (!beFrom) {\n        pending = pending.filter(id => id !== msg._msgid);\n        flow.set('messages_pending', pending);\n        msg.filename = filename;\n        return [msg, null];\n    }\n}\nelse{\n    if (beFrom == \"local\"){\n        msg.payload = \"sed '1d' \" + filename + \" -i\";\n        return [null, msg];\n    }\n}","outputs":2,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":1420,"y":440,"wires":[["5777a021f93d4514"],["d6f2f288714a0b2f"]],"outputLabels":["to Local","delete Line"]},{"id":"accb59c1bcd1c931","type":"inject","z":"5b0bd96f6c358899","name":"Set MQTT Timeout + Init pending","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1000","payloadType":"num","x":660,"y":300,"wires":[["e4636b3be05f899a"]]},{"id":"e4636b3be05f899a","type":"change","z":"5b0bd96f6c358899","name":"set","rules":[{"t":"set","p":"mqtt_timeout_ms","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"messages_pending","pt":"flow","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":300,"wires":[[]]},{"id":"5777a021f93d4514","type":"file","z":"5b0bd96f6c358899","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1680,"y":400,"wires":[["40e495b314d4bce6"]]},{"id":"9cf3538a7bf89d46","type":"function","z":"5b0bd96f6c358899","name":"get path","func":"let path = flow.get(\"log\");\nmsg.payload = \"head -1 \" + path;\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":620,"wires":[["eb322e3a60613b85"]]},{"id":"eb322e3a60613b85","type":"exec","z":"5b0bd96f6c358899","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Read first line from backlogs","x":740,"y":620,"wires":[["da0e78f171d64f1b"],["fffa1ae99fab1dab"],["fffa1ae99fab1dab"]]},{"id":"da0e78f171d64f1b","type":"switch","z":"5b0bd96f6c358899","name":"If backlogged packet","property":"payload","propertyType":"msg","rules":[{"t":"neq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":740,"y":560,"wires":[["9a846ee9c9d698e9"]]},{"id":"9a846ee9c9d698e9","type":"json","z":"5b0bd96f6c358899","name":"Extract Failed line","property":"payload","action":"","pretty":true,"x":770,"y":520,"wires":[["e1d0c7cf8bce2732"]]},{"id":"e1d0c7cf8bce2732","type":"change","z":"5b0bd96f6c358899","name":"Tag data from Local","rules":[{"t":"set","p":"beFrom","pt":"msg","to":"local","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":480,"wires":[["1926a73823930287"]]},{"id":"531ffcb42a1b4c79","type":"debug","z":"5b0bd96f6c358899","name":"debug 139","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1990,"y":460,"wires":[]},{"id":"d6f2f288714a0b2f","type":"exec","z":"5b0bd96f6c358899","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Remove first line from backlogs","x":1750,"y":480,"wires":[["531ffcb42a1b4c79"],["e8fbbca2131d1ef0"],["e8fbbca2131d1ef0"]]},{"id":"e8fbbca2131d1ef0","type":"debug","z":"5b0bd96f6c358899","name":"debug 140","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1990,"y":500,"wires":[]},{"id":"8f235b212bb4c45e","type":"inject","z":"5b0bd96f6c358899","name":"Set LogFile","props":[{"p":"payload"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"/home/ncdio/.node-red/backlog/backlog.log","payloadType":"str","x":590,"y":340,"wires":[["df9385fbf41afaad"]]},{"id":"df9385fbf41afaad","type":"change","z":"5b0bd96f6c358899","name":"set","rules":[{"t":"set","p":"log","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":340,"wires":[[]]},{"id":"40e495b314d4bce6","type":"function","z":"5b0bd96f6c358899","name":"clear buff mqtt","func":"let delay = 100;\nmsg = {};\nsetTimeout(() => {\n    msg.action = \"connect\";\n    msg.force;\n    node.send(msg);\n}, delay);\nmsg.force;\nmsg.action = \"disconnect\";\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1840,"y":400,"wires":[["d669362340ab5fc3"]]},{"id":"c11ae34cd830c974","type":"inject","z":"5b0bd96f6c358899","name":"","props":[],"repeat":"10","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":445,"y":620,"wires":[["9cf3538a7bf89d46"]],"l":false},{"id":"fffa1ae99fab1dab","type":"debug","z":"5b0bd96f6c358899","name":"debug 145","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":620,"wires":[]},{"id":"29a3aa16011f72ce","type":"junction","z":"5b0bd96f6c358899","x":1120,"y":340,"wires":[["d669362340ab5fc3"]]},{"id":"d669362340ab5fc3","type":"junction","z":"5b0bd96f6c358899","x":1960,"y":340,"wires":[["62419c41659dce83"]]},{"id":"b0814704c7c7d964","type":"junction","z":"5b0bd96f6c358899","x":440,"y":440,"wires":[["1926a73823930287"]]}]
