nodered/flows.json
[{"id":"58c2e5fd253a1fd4","type":"subflow","name":"ncd-isonline","info":"","category":"","in":[{"x":70,"y":180,"wires":[{"id":"66560a3839d3fd74"}]}],"out":[{"x":560,"y":100,"wires":[{"id":"66560a3839d3fd74","port":0},{"id":"6a5985d6ab196a6b","port":0}]},{"x":1700,"y":140,"wires":[{"id":"9f9b0bcd0f9523cc","port":0}]}],"env":[{"name":"enable","type":"bool","value":"true","ui":{"label":{"en-US":"Enable Local Storage"},"type":"checkbox"}}],"meta":{},"color":"#A6BBCF","outputLabels":["Data Base - Online","Data Base - Offline"],"icon":"node-red/db.svg","status":{"x":1830,"y":260,"wires":[{"id":"9f522e907c00e71a","port":0},{"id":"fe03676ad8568e66","port":0},{"id":"b4a1aecddee901d6","port":0},{"id":"d7afff93a7cf8103","port":0}]}},{"id":"d32a17ff789aa678","type":"change","z":"58c2e5fd253a1fd4","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":220,"wires":[["028e9709a803ae58"]]},{"id":"d52d2fcda0d11599","type":"change","z":"58c2e5fd253a1fd4","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":200,"wires":[["7067c34ca3aecf6d"]]},{"id":"7067c34ca3aecf6d","type":"function","z":"58c2e5fd253a1fd4","name":"buldLocalPath","func":"let addr = msg.addr;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/offline_log/\" + addr + \"/\" + addr + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1030,"y":220,"wires":[["08e823f45ead63e2"]]},{"id":"08e823f45ead63e2","type":"file","z":"58c2e5fd253a1fd4","name":"","filename":"filename","filenameType":"msg","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":1145,"y":220,"wires":[["9f522e907c00e71a"]],"l":false},{"id":"8903d64f7bb2bbab","type":"change","z":"58c2e5fd253a1fd4","name":"path Lin","rules":[{"t":"set","p":"userPath","pt":"msg","to":"HOME","tot":"env"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["69b8bfaf5ccede10"]]},{"id":"3a6e4560e4cf89df","type":"change","z":"58c2e5fd253a1fd4","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.addr, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":120,"wires":[["2416dd97f79c14fa"]]},{"id":"2416dd97f79c14fa","type":"function","z":"58c2e5fd253a1fd4","name":"buildPathLin","func":"let addr = msg.addr;\n//let date = msg.date;\nlet userPath = msg.userPath;\nmsg.filename = userPath + \"/.node-red/offline_log/\" + addr + \"/\" + addr + \".csv\"\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":140,"wires":[["21cef2a6736a12ab"]]},{"id":"21cef2a6736a12ab","type":"file in","z":"58c2e5fd253a1fd4","name":"path","filename":"filename","filenameType":"msg","format":"lines","chunk":false,"sendError":false,"encoding":"none","allProps":true,"x":1105,"y":140,"wires":[["74f7e024345a4181","36bf4d480269a97c"]],"l":false},{"id":"74f7e024345a4181","type":"json","z":"58c2e5fd253a1fd4","name":"JSON-Object","property":"payload","action":"obj","pretty":false,"x":1220,"y":140,"wires":[["ff2fcebecbcc19e4"]]},{"id":"ff2fcebecbcc19e4","type":"change","z":"58c2e5fd253a1fd4","name":"ncd-clear","rules":[{"t":"delete","p":"userPath","pt":"msg"},{"t":"delete","p":"addr","pt":"msg"},{"t":"delete","p":"parts","pt":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1325,"y":140,"wires":[["0e4f728e461dc3ab"]],"l":false},{"id":"b660847f3f44d10c","type":"exec","z":"58c2e5fd253a1fd4","command":"","addpay":"payload","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"","x":1380,"y":80,"wires":[["f5aa2a052b49c16f"],["f5aa2a052b49c16f"],["f5aa2a052b49c16f"]]},{"id":"f5aa2a052b49c16f","type":"debug","z":"58c2e5fd253a1fd4","name":"debug 23","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1530,"y":80,"wires":[]},{"id":"36bf4d480269a97c","type":"function","z":"58c2e5fd253a1fd4","name":"function 54","func":"let path = msg.filename;\nmsg = {};\nmsg.payload = \"rm \" + path;\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1220,"y":100,"wires":[["b660847f3f44d10c"]]},{"id":"b157af5205ab6129","type":"catch","z":"58c2e5fd253a1fd4","name":"","scope":["21cef2a6736a12ab","74f7e024345a4181"],"uncaught":false,"x":870,"y":280,"wires":[[]]},{"id":"9f9b0bcd0f9523cc","type":"delay","z":"58c2e5fd253a1fd4","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1480,"y":140,"wires":[["fe03676ad8568e66"]]},{"id":"0e4f728e461dc3ab","type":"delay","z":"58c2e5fd253a1fd4","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1375,"y":140,"wires":[["9f9b0bcd0f9523cc"]],"l":false},{"id":"d7afff93a7cf8103","type":"function","z":"58c2e5fd253a1fd4","name":"function 55","func":"msg.payload = ({ fill: \"red\", shape: \"ring\", text: \"Offline\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":360,"wires":[[]]},{"id":"b4a1aecddee901d6","type":"function","z":"58c2e5fd253a1fd4","name":"function 56","func":"msg.payload = ({ fill: \"green\", shape: \"ring\", text: \"Online\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1670,"y":320,"wires":[[]]},{"id":"66560a3839d3fd74","type":"switch","z":"58c2e5fd253a1fd4","name":"ncd-is-online","property":"online","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":180,"wires":[["8903d64f7bb2bbab"],["15bc72880650b853"]]},{"id":"9f522e907c00e71a","type":"function","z":"58c2e5fd253a1fd4","name":"function 57","func":"msg.payload = ({ fill: \"yellow\", text: \"Saving locally\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":240,"wires":[[]]},{"id":"fe03676ad8568e66","type":"function","z":"58c2e5fd253a1fd4","name":"function 58","func":"msg.payload = ({ fill: \"yellow\", text: \"Sending stored\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1680,"y":200,"wires":[[]]},{"id":"69b8bfaf5ccede10","type":"switch","z":"58c2e5fd253a1fd4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"},{"t":"eq","v":"sensor_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":140,"wires":[["3a6e4560e4cf89df"],["4caa0785f14eb55b"]]},{"id":"028e9709a803ae58","type":"switch","z":"58c2e5fd253a1fd4","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"sensor_data","vt":"str"},{"t":"eq","v":"sensor_mode","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":660,"y":220,"wires":[["d52d2fcda0d11599"],["a3bab9aeb6f29406"]]},{"id":"4caa0785f14eb55b","type":"change","z":"58c2e5fd253a1fd4","name":"","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.mac, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":810,"y":160,"wires":[["2416dd97f79c14fa"]]},{"id":"a3bab9aeb6f29406","type":"change","z":"58c2e5fd253a1fd4","name":"Filter Data to save csv","rules":[{"t":"set","p":"addr","pt":"msg","to":"$substring(payload.mac, 12)","tot":"jsonata"},{"t":"set","p":"addr","pt":"msg","to":"$replace(addr,\":\",\"-\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":240,"wires":[["7067c34ca3aecf6d"]]},{"id":"15bc72880650b853","type":"switch","z":"58c2e5fd253a1fd4","name":"","property":"enable","propertyType":"env","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":240,"wires":[["d32a17ff789aa678"],["dbb86bf8ea70f694"]]},{"id":"dbb86bf8ea70f694","type":"link out","z":"58c2e5fd253a1fd4","name":"link out 1","mode":"link","links":["6a5985d6ab196a6b"],"x":495,"y":260,"wires":[]},{"id":"6a5985d6ab196a6b","type":"link in","z":"58c2e5fd253a1fd4","name":"link in 1","links":["dbb86bf8ea70f694"],"x":365,"y":100,"wires":[[]]},{"id":"8585e0649846ce5d","type":"inject","z":"58c2e5fd253a1fd4","name":"","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":0.1,"topic":"","x":1235,"y":340,"wires":[["66b2857267a55c25"]],"l":false},{"id":"66b2857267a55c25","type":"change","z":"58c2e5fd253a1fd4","name":"","rules":[{"t":"set","p":"online","pt":"flow","to":"$flowContext(\"$parent.online\")","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1360,"y":340,"wires":[["c139b7e8c6d0bf2d"]]},{"id":"c139b7e8c6d0bf2d","type":"switch","z":"58c2e5fd253a1fd4","name":"","property":"online","propertyType":"flow","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1510,"y":340,"wires":[["b4a1aecddee901d6"],["d7afff93a7cf8103"]]},{"id":"81f84469b724d1b8","type":"subflow","name":"ncd-internet-monitor","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#A6BBCF","icon":"font-awesome/fa-spinner","status":{"x":420,"y":80,"wires":[{"id":"0caea46f95dce973","port":1},{"id":"0caea46f95dce973","port":0}]}},{"id":"0caea46f95dce973","type":"function","z":"81f84469b724d1b8","name":"ncd-function-check","func":"// Default timeout to 1000ms (1 second)\nconst timeout = 1000;\n\n// Default URL (fallback to 'google.com' if no URL is provided in msg or config)\nlet url = 'google.com';\nlet port = \"80\";\n\n// Get the action value from the function node's configuration (node's context)\nconst action = parseInt(this.action || 0);  // Default to action 0 if not set\n\n// Check the connection to the specified URL and port\ncheckConnection(url, port, timeout).then(function () {\n    msg.payload = ({ fill: \"green\", shape: \"dot\", text: \"Online\" });\n    flow.set(\"$parent.online\", true);\n    node.send([msg, null]);\n}).catch(function (err) {\n    //msg.online_error = err.toString();\n    msg.payload = ({ fill: \"red\", shape: \"dot\", text: \"Offline\" });\n    flow.set(\"$parent.online\", false);\n    node.send([null,msg]);\n});\n\n// Function to check the connection to the host\nfunction checkConnection(host, port, timeout) {\n    return new Promise(function (resolve, reject) {\n        const timer = setTimeout(function () {\n            reject(\"timeout\");\n        }, timeout);\n        const socket = net.createConnection(port, host, function () {\n            clearTimeout(timer);\n            socket.end();\n            resolve();\n        });\n        socket.on('error', function (err) {\n            clearTimeout(timer);\n            reject(err);\n        });\n    });\n}\n","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"net","module":"net"}],"x":270,"y":80,"wires":[[],[]],"icon":"font-awesome/fa-spinner"},{"id":"b09b432385960d51","type":"inject","z":"81f84469b724d1b8","name":"","props":[],"repeat":"1","crontab":"","once":true,"onceDelay":"1","topic":"","x":145,"y":80,"wires":[["0caea46f95dce973"]],"l":false},{"id":"d86aaf7ced8bcda7","type":"subflow:81f84469b724d1b8","z":"eb6539302d516693","name":"","x":210,"y":140,"wires":[]},{"id":"ecc16e99def0c60f","type":"subflow:58c2e5fd253a1fd4","z":"eb6539302d516693","name":"","x":250,"y":200,"wires":[["767ad8657f44df09"],["7414ff369314ccf2"]]},{"id":"767ad8657f44df09","type":"debug","z":"eb6539302d516693","name":"to Main Database","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":160,"wires":[]},{"id":"7414ff369314ccf2","type":"debug","z":"eb6539302d516693","name":"to Backup Database","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":480,"y":220,"wires":[]}]
